<section class="file-explorer">
    <div class="file-explorer_main" mat-dialog-content>
        <div class="file-explorer_sidebar">
            sidebar
        </div>

        <div class="file-explorer_files">
            files
        </div>
    </div>
    <footer class="file-explorer_footer">
        <div class="file-explorer_actions" mat-dialog-actions>
            <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>
        </div>
    </footer>
</section>
