$sidebar-width: 250px;

.file-explorer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  position: relative;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .file-explorer_main {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .file-explorer_sidebar {
      width: $sidebar-width;
      position: fixed;
  }

  .file-explorer_files {
      margin-left: $sidebar-width;
  }

  .file-explorer_actions {
    justify-content: flex-end;
  }
}
